<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OFS | Download File</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <img src="/img/logo.png" alt="OFS Logo" class="logo">

    <section class="download">
        <img class="download__icon" src="/img/downloadGR.svg" alt="download image">
        <% if(locals.error){ %>
        <h4><%= locals.error %></h4>
        <% } else { %>
        <div class="textt">
        <h2>DOWNLOAD IS READY</h2>
        <h3>Link will expire soon.</h3>
        <div class="download__meta">
            <h4><%= fileName %></h4>
            <h5><%= parseInt(fileSize/1000) %> KB</h5>
        </div>
        </div>
        <div class="send-btn-container">
            <a href="<%= download %>">Download</a>
        </div>
        <% } %>
    </section>

   
</body>

</html>